= form_tag root_path, method: :get do
  = text_field_tag :screen_name
  = submit_tag :go

- if @tweets
  - @tweets.each do |tweet|
    %p
      = text_with_mentions(tweet.text, tweet.user_mentions).html_safe
